In [20]:
pip install pandas selenium mysqlclient

Requirement already satisfied: pandas in d:\anaconda\lib\site-packages (2.2.2)
Requirement already satisfied: selenium in d:\anaconda\lib\site-packages (4.27.1)
Requirement already satisfied: mysqlclient in d:\anaconda\lib\site-packages (2.2.7)
Requirement already satisfied: numpy>=1.26.0 in d:\anaconda\lib\site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in d:\anaconda\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in d:\anaconda\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in d:\anaconda\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: urllib3<3,>=1.26 in d:\anaconda\lib\site-packages (from urllib3[socks]<3,>=1.26->selenium) (2.2.3)
Requirement already satisfied: trio~=0.17 in d:\anaconda\lib\site-packages (from selenium) (0.28.0)
Requirement already satisfied: trio-websocket~=0.9 in d:\anaconda\lib\site-packages (from selenium) (0.11.1)
Requirement already satisfied: certifi>=2021.10.8 in d:\anaconda\lib\site-packages (from selenium) (2024.8.30)
Requirement already satisfied: typing_extensions~=4.9 in d:\anaconda\lib\site-packages (from selenium) (4.11.0)
Requirement already satisfied: websocket-client~=1.8 in d:\anaconda\lib\site-packages (from selenium) (1.8.0)
Requirement already satisfied: six>=1.5 in d:\anaconda\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Requirement already satisfied: attrs>=23.2.0 in d:\anaconda\lib\site-packages (from trio~=0.17->selenium) (24.3.0)
Requirement already satisfied: sortedcontainers in d:\anaconda\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: idna in d:\anaconda\lib\site-packages (from trio~=0.17->selenium) (3.7)
Requirement already satisfied: outcome in d:\anaconda\lib\site-packages (from trio~=0.17->selenium) (1.3.0.post0)
Requirement already satisfied: sniffio>=1.3.0 in d:\anaconda\lib\site-packages (from trio~=0.17->selenium) (1.3.0)
Requirement already satisfied: cffi>=1.14 in d:\anaconda\lib\site-packages (from trio~=0.17->selenium) (1.17.1)
Requirement already satisfied: wsproto>=0.14 in d:\anaconda\lib\site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: pysocks!=1.5.7,<2.0,>=1.5.6 in d:\anaconda\lib\site-packages (from urllib3[socks]<3,>=1.26->selenium) (1.7.1)
Requirement already satisfied: pycparser in d:\anaconda\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.21)
Requirement already satisfied: h11<1,>=0.9.0 in d:\anaconda\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.14.0)
Note: you may need to restart the kernel to use updated packages.

In [1]:
import os
import time
import glob
import mysql
import pandas as pd
from selenium import webdriver
from sqlalchemy import create_engine
from selenium.webdriver.common.by import By
from selenium.common.exceptions import TimeoutException, NoSuchElementException, ElementClickInterceptedException

In [25]:
def webscrapper(url):
    # Initialize the WebDriver
    driver = webdriver.Chrome()

    try:
        # Open IMDb page
        driver.get(url)
        driver.maximize_window()
        time.sleep(2)
        print(driver.title)

        # Attempt to click "Read More" until all data is loaded
        while True:
            try:
                element = driver.find_element(By.XPATH, '//*[@id="__next"]/main/div[2]/div[3]/section/section/div/section/section/div[2]/div/section/div[2]/div[2]/div[2]/div/span/button')
                driver.execute_script("arguments[0].scrollIntoView({block: 'center'});", element)
                time.sleep(1)
                element.click()
                print("Clicked 'Read More' button.")
                time.sleep(1)
            except NoSuchElementException:
                print("No 'Read More' button found. All data loaded.")
                break
            except ElementClickInterceptedException:
                print("Button is blocked by another element. Retrying...")
                time.sleep(2)
            except TimeoutException:
                print("Operation timed out. Retrying...")
                time.sleep(2)
            except Exception as e:
                print(f"Unexpected error: {e}")
                break

        print("Successfully retrieved all the data.")

        # Initialize a dictionary to store data by genre
        genre_data = {}

        # Locate all movie items
        movies = driver.find_elements(By.XPATH,'//*[@id="__next"]/main/div[2]/div[3]/section/section/div/section/section/div[2]/div/section/div[2]/div[2]/ul/li')
        
        # Extract details for each movie
        for movie in movies:
            try:
                # Movie Name
                name = movie.find_element(By.CSS_SELECTOR, 'h3[class="ipc-title__text"]').text.split(". ", 1)[1]

                # Genre (Fixed selector)
                try:
                    genre = movie.find_element(By.XPATH, '//*[@id="__next"]/main/div[2]/div[3]/section/section/div/section/section/div[2]/div/section/div[1]/div/div/div[2]/button[3]/span').text.strip()
                except NoSuchElementException:
                    genre = "Unknown"

                # Ratings
                try:
                    rating = movie.find_element(By.CSS_SELECTOR, "span[class='ipc-rating-star--rating']").text.strip()
                except NoSuchElementException:
                    rating = "N/A"

                # Voting Counts
                try:
                    votes = movie.find_element(By.CSS_SELECTOR, "span[class='ipc-rating-star--voteCount']").text.replace("(", "").replace(")", "").strip()
                except NoSuchElementException:
                    votes = "N/A"

                # Duration
                try:
                    duration = movie.find_element(By.XPATH, './div/div/div/div[1]/div[2]/div[2]/span[2]').text.strip()
                except NoSuchElementException:
                    duration = "N/A"

                # Split genres and store data in a dictionary
                for g in genre.split(", "):
                    if g not in genre_data:
                        genre_data[g] = []
                    genre_data[g].append({
                        "Movie Name": name,
                        "Rating": rating,
                        "Votes": votes,
                        "Duration": duration,
                        "Genre": genre
                    })
            except Exception as e:
                print(f"Error processing movie: {e}")

        return genre_data  # Return the full dataset after processing all movies

    except Exception as e:
        print(f"Error retrieving movie list: {e}")
        return {}  # Ensure function always returns a dictionary

    finally:
        driver.quit()  # Quit the driver at the end

In [27]:
 # Save data to CSV files

def genre_dataset(genre_data):
    #Create a new folder for the datas.
    output_dir = "IMDB_2024_Genres_Data"
    
    #Make the directory using os module.
    os.makedirs(output_dir, exist_ok=True)

    #Loop through the dictionary data to csv files.
    for genre, movies in genre_data.items():
        #convert the python object to dataframe.
        df = pd.DataFrame(movies)
        
        #creation of file name as genre name and put it inside the new folder.
        file_name = os.path.join(output_dir, f"{genre}.csv")
        
        #save as csv file using pandas method.
        df.to_csv(file_name, index=False)
        
        #Display the file name which is created.
        print (f"Saved data for genre '{genre}' to '{file_name}'")

In [29]:
# List of IMDb genre-specific movie URLs
genre_urls = [
    "https://www.imdb.com/search/title/?title_type=feature&release_date=2024-01-01,2024-12-31&genres=news",
    "https://www.imdb.com/search/title/?title_type=feature&release_date=2024-01-01,2024-12-31&genres=talk-show",
    "https://www.imdb.com/search/title/?title_type=feature&release_date=2024-01-01,2024-12-31&genres=game-show",
    "https://www.imdb.com/search/title/?title_type=feature&release_date=2024-01-01,2024-12-31&genres=war",
    "https://www.imdb.com/search/title/?title_type=feature&release_date=2024-01-01,2024-12-31&genres=western"
]

# Loop through each genre URL and scrape data
for genre_url in genre_urls:
    try:
        print(f"URL Processing: {genre_url}")
        movies_by_genre = webscrapper(genre_url)
        print(f"Data type returned: {type(movies_by_genre)}")  # Debugging check
        
        if movies_by_genre and isinstance(movies_by_genre, dict):  # Ensure it's a non-empty dictionary
            try:
                genre_dataset(movies_by_genre)
                print(f"Successfully stored")
            except Exception as dataset_error:
                print(f"Error saving dataset for {genre_url}: {dataset_error}")
        else:
            print(f"Skipping {genre_url} as no valid data was retrieved.")

    except Exception as e:
        print(f"Error processing {genre_url}: {e}")

print('✅ Successfully completed processing all genres!')

URL Processing: https://www.imdb.com/search/title/?title_type=feature&release_date=2024-01-01,2024-12-31&genres=news
Movie, News, Release date between 2024-01-01 and 2024-12-31 (Sorted by Popularity Ascending)
No 'Read More' button found. All data loaded.
Successfully retrieved all the data.
Data type returned: <class 'dict'>
Saved data for genre 'News' to 'IMDB_2024_Genres_Data\News.csv'
Successfully stored
URL Processing: https://www.imdb.com/search/title/?title_type=feature&release_date=2024-01-01,2024-12-31&genres=talk-show
Movie, Release date between 2024-01-01 and 2024-12-31, Talk-Show (Sorted by Popularity Ascending)
No 'Read More' button found. All data loaded.
Successfully retrieved all the data.
Data type returned: <class 'dict'>
Saved data for genre 'Talk-Show' to 'IMDB_2024_Genres_Data\Talk-Show.csv'
Successfully stored
URL Processing: https://www.imdb.com/search/title/?title_type=feature&release_date=2024-01-01,2024-12-31&genres=game-show
Movie, Release date between 2024-01-01 and 2024-12-31, Game-Show (Sorted by Popularity Ascending)
No 'Read More' button found. All data loaded.
Successfully retrieved all the data.
Data type returned: <class 'dict'>
Saved data for genre 'Game-Show' to 'IMDB_2024_Genres_Data\Game-Show.csv'
Successfully stored
URL Processing: https://www.imdb.com/search/title/?title_type=feature&release_date=2024-01-01,2024-12-31&genres=war
Movie, War, Release date between 2024-01-01 and 2024-12-31 (Sorted by Popularity Ascending)
Clicked 'Read More' button.
Clicked 'Read More' button.
No 'Read More' button found. All data loaded.
Successfully retrieved all the data.
Data type returned: <class 'dict'>
Saved data for genre 'War' to 'IMDB_2024_Genres_Data\War.csv'
Successfully stored
URL Processing: https://www.imdb.com/search/title/?title_type=feature&release_date=2024-01-01,2024-12-31&genres=western
Movie, Western, Release date between 2024-01-01 and 2024-12-31 (Sorted by Popularity Ascending)
Clicked 'Read More' button.
No 'Read More' button found. All data loaded.
Successfully retrieved all the data.
Data type returned: <class 'dict'>
Saved data for genre 'Western' to 'IMDB_2024_Genres_Data\Western.csv'
Successfully stored
✅ Successfully completed processing all genres!

In [193]:
glob.glob('IMDB_2024_Genres_data\\*.csv')

['IMDB_2024_Genres_data\\Game-Show.csv',
 'IMDB_2024_Genres_data\\News.csv',
 'IMDB_2024_Genres_data\\Talk-Show.csv',
 'IMDB_2024_Genres_data\\War.csv',
 'IMDB_2024_Genres_data\\Western.csv']

In [275]:
df = pd.concat([pd.read_csv(one_file) for one_file in glob.glob('IMDB_2024_Genres_data\\*.csv')],ignore_index=True)
df = df.reset_index(drop=True)
df.to_csv('genre_df.csv', index=False)
df

                               Movie Name  Rating  Votes Duration      Genre
0                        The Netflix Slam     7.0  139.0   2h 30m  Game-Show
1        2024 Pokémon World Championships     NaN    NaN      NaN  Game-Show
2                         The Falcon Feud     NaN    NaN      45m  Game-Show
3                        The Fall of 2008     NaN    NaN    1h 1m       News
4    Every Christopher Nolan Movie Ranked     8.6   17.0      59m       News
..                                    ...     ...    ...      ...        ...
234                               Vadogga     NaN    NaN   1h 25m    Western
235         The Ballad of Winchester Pete     NaN    NaN      NaN    Western
236                 The Rattlesnake Twins     NaN    NaN      50m    Western
237             The Goods, Bads and Uglys     NaN    NaN      NaN    Western
238            TV Heroes of the Wild West     NaN    NaN      NaN    Western

[239 rows x 5 columns]

In [277]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 239 entries, 0 to 238
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Movie Name  239 non-null    object
 1   Rating      148 non-null    float64
 2   Votes       148 non-null    object
 3   Duration    179 non-null    object
 4   Genre       239 non-null    object
dtypes: float64(1), object(4)
memory usage: 9.5+ KB

In [279]:
new_df = pd.read_csv('genre_df.csv')
new_df.dropna(inplace = True,ignore_index=True)
new_df.drop_duplicates(inplace = True)
new_df.head()

,Movie Name,Rating,Votes,Duration,Genre
0,The Netflix Slam,7.0,139.0,2h 30m,Game-Show
1,Every Christopher Nolan Movie Ranked,8.6,17.0,59m,News
2,The Turning Point: XCLD: The Story of Cancel C...,5.3,30.0,44m,News
3,The Truth: The Journey Within,7.2,8.0,1h 31m,News
4,National Theatre Live: Dear England,8.1,132.0,3h 11m,Talk-Show

In [281]:
new_df.isnull().sum()

Movie Name    0
Rating        0
Votes         0
Duration      0
Genre         0
dtype: int64

In [283]:
#To view the Votes full data for conversion.
new_df["Votes"].to_string()

'0      139.0\n1       17.0\n2       30.0\n3        8.0\n4      132.0\n5       18.0\n6        21K\n7        12K\n8       127K\n9        14K\n10       17K\n11       278\n12       265\n13       266\n14      4.9K\n15      1.5K\n16       138\n17       763\n18       454\n19       305\n20      1.7K\n21       882\n22       380\n23       545\n24       641\n25       695\n26        82\n27       882\n28       329\n29       154\n30       33K\n31       558\n32      1.6K\n33        46\n34        11\n35      1.2K\n36        45\n37        28\n38       187\n39       528\n40       604\n41        41\n42        27\n43       451\n44       227\n45       471\n46       580\n47        67\n48       246\n49       980\n50       298\n51       476\n52       163\n53       171\n54        36\n55        16\n56       287\n57        35\n58        67\n59       284\n60       182\n61       109\n62       739\n63       233\n64       215\n65        17\n66        23\n67        56\n68       207\n69         7\n70        13\n71        11\n72        18\n73        53\n74         9\n75        44\n76        16\n77         5\n78         6\n79         5\n80       37K\n81      1.1K\n82      2.5K\n83      2.6K\n84      2.3K\n85       759\n86       481\n87       548\n88       228\n89       450\n90       291\n91       418\n92        75\n93       417\n94        14\n95       317\n96       130\n97        64\n98        12\n99      4.1K\n100       20\n101        8\n102       53\n103       15\n104       71\n105       44\n106       22\n107       31\n108       33\n109       98\n110       76\n111       32\n112        6\n113       12\n114       26\n115       14\n116       16\n117        7\n118       13'

In [285]:
# Replace 'K' with 'e3' and 'M' with 'e6' to denote scientific notation
new_df['Votes'] = new_df['Votes'].str.replace('K','e3')
new_df["Votes"].to_string()

'0      139.0\n1       17.0\n2       30.0\n3        8.0\n4      132.0\n5       18.0\n6       21e3\n7       12e3\n8      127e3\n9       14e3\n10      17e3\n11       278\n12       265\n13       266\n14     4.9e3\n15     1.5e3\n16       138\n17       763\n18       454\n19       305\n20     1.7e3\n21       882\n22       380\n23       545\n24       641\n25       695\n26        82\n27       882\n28       329\n29       154\n30      33e3\n31       558\n32     1.6e3\n33        46\n34        11\n35     1.2e3\n36        45\n37        28\n38       187\n39       528\n40       604\n41        41\n42        27\n43       451\n44       227\n45       471\n46       580\n47        67\n48       246\n49       980\n50       298\n51       476\n52       163\n53       171\n54        36\n55        16\n56       287\n57        35\n58        67\n59       284\n60       182\n61       109\n62       739\n63       233\n64       215\n65        17\n66        23\n67        56\n68       207\n69         7\n70        13\n71        11\n72        18\n73        53\n74         9\n75        44\n76        16\n77         5\n78         6\n79         5\n80      37e3\n81     1.1e3\n82     2.5e3\n83     2.6e3\n84     2.3e3\n85       759\n86       481\n87       548\n88       228\n89       450\n90       291\n91       418\n92        75\n93       417\n94        14\n95       317\n96       130\n97        64\n98        12\n99     4.1e3\n100       20\n101        8\n102       53\n103       15\n104       71\n105       44\n106       22\n107       31\n108       33\n109       98\n110       76\n111       32\n112        6\n113       12\n114       26\n115       14\n116       16\n117        7\n118       13'

In [287]:
# Convert the 'Votes' column to numeric
new_df['Votes'] = pd.to_numeric(new_df['Votes'])
new_df["Votes"].to_string()

'0         139.0\n1          17.0\n2          30.0\n3           8.0\n4         132.0\n5          18.0\n6       21000.0\n7       12000.0\n8      127000.0\n9       14000.0\n10      17000.0\n11        278.0\n12        265.0\n13        266.0\n14       4900.0\n15       1500.0\n16        138.0\n17        763.0\n18        454.0\n19        305.0\n20       1700.0\n21        882.0\n22        380.0\n23        545.0\n24        641.0\n25        695.0\n26         82.0\n27        882.0\n28        329.0\n29        154.0\n30      33000.0\n31        558.0\n32       1600.0\n33         46.0\n34         11.0\n35       1200.0\n36         45.0\n37         28.0\n38        187.0\n39        528.0\n40        604.0\n41         41.0\n42         27.0\n43        451.0\n44        227.0\n45        471.0\n46        580.0\n47         67.0\n48        246.0\n49        980.0\n50        298.0\n51        476.0\n52        163.0\n53        171.0\n54         36.0\n55         16.0\n56        287.0\n57         35.0\n58         67.0\n59        284.0\n60        182.0\n61        109.0\n62        739.0\n63        233.0\n64        215.0\n65         17.0\n66         23.0\n67         56.0\n68        207.0\n69          7.0\n70         13.0\n71         11.0\n72         18.0\n73         53.0\n74          9.0\n75         44.0\n76         16.0\n77          5.0\n78          6.0\n79          5.0\n80      37000.0\n81       1100.0\n82       2500.0\n83       2600.0\n84       2300.0\n85        759.0\n86        481.0\n87        548.0\n88        228.0\n89        450.0\n90        291.0\n91        418.0\n92         75.0\n93        417.0\n94         14.0\n95        317.0\n96        130.0\n97         64.0\n98         12.0\n99       4100.0\n100        20.0\n101         8.0\n102        53.0\n103        15.0\n104        71.0\n105        44.0\n106        22.0\n107        31.0\n108        33.0\n109        98.0\n110        76.0\n111        32.0\n112         6.0\n113        12.0\n114        26.0\n115        14.0\n116        16.0\n117         7.0\n118        13.0'

In [295]:
# Convert to integer type if desired
new_df['Votes'] = new_df['Votes'].astype(int)

In [299]:
new_df.dtypes

Movie Name     object
Rating        float64
Votes           int32
Duration       object
Genre          object
dtype: object

In [301]:
#checking the size of the dataset.
new_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 119 entries, 0 to 118
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Movie Name  119 non-null    object
 1   Rating      119 non-null    float64
 2   Votes       119 non-null    int32
 3   Duration    119 non-null    object
 4   Genre       119 non-null    object
dtypes: float64(1), int32(1), object(3)
memory usage: 4.3+ KB

In [303]:
new_df.to_csv('genre_df_cleaned.csv', index=False)

In [305]:
engine = create_engine("mysql+mysqldb://root:shan@localhost:3306/imdb_2024_genres")#root@localhost:3306
conn = engine.connect()
data =pd.read_csv('genre_df_cleaned.csv')
data.to_sql('test', engine, index = False, if_exists = 'replace')
conn.close()