In [4]:
import glob
import pandas as pd

In [6]:
glob.glob('IMDB_2024_Genres\\*.csv')

['IMDB_2024_Genres\\Action.csv',
 'IMDB_2024_Genres\\Animation.csv',
 'IMDB_2024_Genres\\Crime.csv',
 'IMDB_2024_Genres\\Family.csv',
 'IMDB_2024_Genres\\News.csv',
 'IMDB_2024_Genres\\Reality-TV.csv',
 'IMDB_2024_Genres\\Sci-Fi.csv']

In [8]:
df = pd.concat([pd.read_csv(one_file) for one_file in glob.glob('IMDB_2024_Genres\\*.csv')],ignore_index=True)
df = df.reset_index(drop=True)

In [10]:
df.to_csv('df.csv', index=False)

In [14]:
df.head()

                  Movie Name  Rating  Votes  Duration   Genre
0       Sonic the Hedgehog 3     7.1    32K    2024.0  Action
1  Pushpa: The Rule - Part 2     6.3    46K    2024.0  Action
2               Gladiator II     6.6   177K    2024.0  Action
3          Kraven the Hunter     5.4    31K    2024.0  Action
4                   Carry-On     6.5   142K    2024.0  Action

In [16]:
df.tail()

,Movie Name,Rating,Votes,Duration,Genre
3776,J Loop,7.2,89,2024.0,Sci-Fi
3777,Karl Marx Falls in Love with the Leonidas Zega...,NaN,NaN,2024.0,Sci-Fi
3778,95B,NaN,NaN,2024.0,Sci-Fi
3779,They Sting,NaN,NaN,2024.0,Sci-Fi
3780,Energy in the Rain,NaN,NaN,2024.0,Sci-Fi

In [18]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3781 entries, 0 to 3780
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Movie Name  3781 non-null   object
 1   Rating      2417 non-null   float64
 2   Votes       2417 non-null   object
 3   Duration    3769 non-null   float64
 4   Genre       3781 non-null   object
dtypes: float64(2), object(3)
memory usage: 147.8+ KB

In [20]:
new1_df = pd.read_csv('df.csv')

In [22]:
new1_df.dropna(inplace = True,ignore_index=True)

In [24]:
new1_df

                     Movie Name  Rating  Votes  Duration   Genre
0          Sonic the Hedgehog 3     7.1    32K    2024.0  Action
1     Pushpa: The Rule - Part 2     6.3    46K    2024.0  Action
2                  Gladiator II     6.6   177K    2024.0  Action
3             Kraven the Hunter     5.4    31K    2024.0  Action
4                      Carry-On     6.5   142K    2024.0  Action
...                         ...     ...    ...       ...     ...
2408                   Zen Fist     7.2      8    2024.0  Sci-Fi
2409  PW V: Tears of the Fallen     8.2     11    2024.0  Sci-Fi
2410             Captain Corpse     7.6      9    2024.0  Sci-Fi
2411              The Blinkless     7.8     12    2024.0  Sci-Fi
2412                     J Loop     7.2     89    2024.0  Sci-Fi

[2413 rows x 5 columns]

In [26]:
new1_df.isnull().sum()

Movie Name    0
Rating        0
Votes         0
Duration      0
Genre         0
dtype: int64

In [28]:
new1_df.dtypes

Movie Name     object
Rating        float64
Votes          object
Duration      float64
Genre          object
dtype: object

In [30]:
new1_df.drop_duplicates(inplace = True)

In [32]:
new1_df.to_csv('df_1.csv', index=False)

In [129]:
pip install mysqlclient

Collecting mysqlclientNote: you may need to restart the kernel to use updated packages.

  Downloading mysqlclient-2.2.7-cp312-cp312-win_amd64.whl.metadata (4.8 kB)
Downloading mysqlclient-2.2.7-cp312-cp312-win_amd64.whl (208 kB)
Installing collected packages: mysqlclient
Successfully installed mysqlclient-2.2.7

In [34]:
import mysql
from sqlalchemy import create_engine

In [36]:
engine = create_engine("mysql+mysqldb://root:shan@localhost:3306/imdb_data")#root@localhost:3306
conn = engine.connect()

In [38]:
data =pd.read_csv('df_1.csv')

In [40]:
data.to_sql('test1', engine, index = False, if_exists = 'replace')

2413

In [42]:
conn.close()